InnerTip
{
    border: none;
    background: transparent;
}

InnerTip QLabel
{
    border-image: url(:/images/info.svg);
}

/* 品牌样式文本 */
InnerTip[styleType="Brand"] QTextBrowser,
InnerTip QTextBrowser  /* 兼容未设置属性的情况 */
{
    border: none;
    background: transparent;
    color: #336FFF;
    font-size: 12px;
}

/* 灰色样式文本 */
InnerTip[styleType="Gray"] QTextBrowser
{
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}